<link
  rel="preload"
  href="https://www.w3.org/StyleSheets/Core/Ultramarine"
  as="style" />
<link
  rel="preload"
  type="image/svg+xml"
  href="https://open-sol.github.io/logo-small.svg"
  as="image" />
<link
  rel="preload"
  href="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
  integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg="
  crossorigin="anonymous"
  as="script" />
<link rel="stylesheet" href="https://www.w3.org/StyleSheets/Core/Ultramarine" />
<link
  rel="shortcut icon"
  type="image/svg+xml"
  href="https://open-sol.github.io/logo-small.svg" />
